doctype
html
	head
		title portafolio
		//{% block stylesheets %}
		//{% stylesheets 'bundles/portafoliopage/css/main.css' filter='cssrewrite' %}
		//<link rel="stylesheet" href="{{ asset_url }}" />
		//{% endstylesheets %}
		//{% endblock %}
	body 
		header
			ul
				li Inicio2
				li Conoceme
				li Trabajos
				li Tecnologías
		aside.center_content 
		footer
